/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

body {
  margin: 0px;
  min-height: 100vh;
  background: $dark-background;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;

  --valid-color: #37e63c;
}

.hidden-scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}
